<nav class="navbar  navbar-light bg-light">
    <a class="navbar-brand" href="">My Neighbourhood</a>
    <li style="list-style: none;"> <a href=" /">Home</a></li>
    <ul class="nav justify-content-start">
  
      <li> <a href="/hoods">Neighbourhood</a></li>
     
    </ul>
    <form class="form-inline" action=" {% url 'search_hood'%}" role="search" >
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="hood">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
   
  
    <ul class="nav justify-content-end">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link active" href="{%url 'profile' user.username%}"> {{user.username }} Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="logout/"> Logout</a>
        </li>
        {%else%}
        <li class="nav-item">
          <a class="nav-link" href="login/">Register/Login</a>
        </li>
        {%endif%}
       
      </ul>
  </nav>