<nav class="navbar  navbar-light bg-light">
    <a class="navbar-brand" href="#">My Neighbourhood</a>
    <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" href="#">Health Centers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Business</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pocice Station</a>
        </li>
       
      </ul>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
  
    <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" href="#">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Register/Login</a>
        </li>
       
      </ul>
  </nav>