<nav class="navbar  navbar-light bg-light">
    <a class="navbar-brand" href="/ ">My Neighbourhood</a>
    <ul class="nav justify-content-start">
      <li> <a href="/hoods">Neighbourhood</a></li>
    </ul>
   
  
    <ul class="nav justify-content-end">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link active" href="{%url 'profile' user.username%}"> {{user.username }} Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="logout/"> Logout</a>
        </li>
        {%else%}
        <li class="nav-item">
          <a class="nav-link" href="login/">Register/Login</a>
        </li>
        {%endif%}
       
      </ul>
  </nav>